<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Bau.Applications.TFSWorkTimeSheet.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="TFSWorkTimeSheet.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.TeamFoundation.Common" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-14.0.0.0" newVersion="14.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
<userSettings>
    <Bau.Applications.TFSWorkTimeSheet.Properties.Settings>
        <setting name="Server" serializeAs="String">
            <value />
        </setting>
        <setting name="Collection" serializeAs="String">
            <value />
        </setting>
        <setting name="User" serializeAs="String">
            <value />
        </setting>
        <setting name="Password" serializeAs="String">
            <value />
        </setting>
        <setting name="IDLastProject" serializeAs="String">
            <value>0</value>
        </setting>
    </Bau.Applications.TFSWorkTimeSheet.Properties.Settings>
    <TFSWorkTimeSheet.Properties.Settings>
      <setting name="Server" serializeAs="String">
        <value />
      </setting>
      <setting name="Collection" serializeAs="String">
        <value />
      </setting>
      <setting name="User" serializeAs="String">
        <value />
      </setting>
      <setting name="Password" serializeAs="String">
        <value />
      </setting>
    </TFSWorkTimeSheet.Properties.Settings>
  </userSettings>
</configuration>
